body {
  position: relative;
}

.hide {
  display: none;
}

.image {
  background-repeat: no-repeat;
}

.guy {
  background-image: url('assets/bow-arrow.png');
  height: 130px;
  width: 80px;
  background-position: -270px -300px;
  position: absolute;
  top: 200px;
}

.arrow {
  background-image: url('assets/bow-arrow.png');
  height: 20px;
  width: 150px;
  background-position: -670px -120px;
  position: absolute;
  top: 235px;
  left: -350px;
}

.cat {
  background-image: url('assets/cat2.png');
  height: 25px;
  width: 50px;
  position: absolute;
  top: -50px;
  left: 300px;
  /*background-position: 0, 0;*/
}

.explosion {
  background-image: url('assets/explosion-sprite.png');
  height: 100px;
  width: 100px;
  position: absolute;
  left: 1020px;
  top: 235px;
}

.rotate {
  transform: rotate(90deg);
}

.hide {
  display: none;
}
